%main
  %section.hero.is-fullweight.is-dark
    .hero-body
      .container.has-text-centered
        .columns.is-vcentered
          .column.is-5
            %figure.image.is-4by3
              %img.lazyload{ src: "https://images.unsplash.com/photo-1487611459768-bd414656ea10?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" }
          .column.is-7.is-multiline
            %h1.title.is-four-fifths{ style: "font-family: 'Bungee'" }
              Farma Fácil
            %h2.subtitle.is-three-fifths
              A maneira mais fácil de doar medicamentos online.
            %br/
            .column.is-offset-1
              .field.is-grouped.has-addons-centered
                .control.is-expanded
                  %a.button.is-large.is-success{ href: '/users/sign_up' }
                    Deseja doar medicamentos?
                .control.is-expanded
                  %a.button.is-large.is-danger{ href: '/drugstores/sign_up' }
                    É uma farmácia?
