%footer.footer
  .content.has-text-centered
    %a{ href: "http://github.com/josevictorferreira/farmacia_facil" }
      %img{ src: '/github-32px.png' }
  .content.has-text-centered
    %p
      = raw(t('footer.text'))
